@model Book
@{
}

<div>
    <h2>Details for @Model.Title</h2>

    <div class="d-flex justify-content-between gap-lg-1 mt-5">
        <h3>@Model.Title</h3>
        <h5>@Model.Author</h5>
    </div>
</div>
